@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Outfit:wght@100..900&display=swap");

// base-------------------->
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $outfit;
    overflow-x: hidden;
    background: $color-white;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    vertical-align: middle;
    max-width: 100%;
}
iframe {
    max-width: 100%;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: 0;

}

input,
button {
    border: none;
    outline: none;
    background: transparent;
}


@media #{$pc-xl}{
    .container{
        padding: 0 1rem;
    }
}